.g1 {
  background: rgb(201,100,138);
  ion-card-title {
    color: #fff;
  };
}

.g2 {
  background: rgb(210,184,70);
  ion-card-title {
    color: #fff;
  };
}

.g3 {
  background: rgb(11,131,31);
  ion-card-title {
    color: #fff;
  };
}

.g4 {
  background: rgb(48,142,191);
  ion-card-title {
    color: #fff;
  };
}

.g5 {
  background: rgb(214,132,123);
  ion-card-title {
    color: #fff;
  };
}

.g6 {
  background: rgb(247,247,247);
  color: #fff;
}

.g7 {
  background: rgb(33,164,225);
  ion-card-title {
    color: #fff;
  };
}

.g8 {
  background: rgb(179,138,174);
  ion-card-title {
    color: #fff;
  };
}

.g9 {
  background: rgb(1,50,36);
  ion-card-title {
    color: #fff;
  };
}

.g10 {
  background: rgb(210,178,178);
  ion-card-title {
    color: #fff;
  };
}