ion-grid {
  padding: 0;
}

ion-col {
  padding: 0;
}

ion-card {
  margin: 7px;
}

ion-card-header {
  padding: 5px;
}

ion-card-content {
  line-height: 1.3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 5px 5px;
}

.avatar {
  display: flex;
  align-items: center;
  padding: 0 5px 5px;

  ion-avatar {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
}